* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #333;
}

header {
    background-color: #1d1d1d;
    color: #fff;
    padding: 15px 0;
    border-bottom: 3px solid #585858;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
}

.menu ul li a:hover,
.menu ul li a.active {
    color: #a23ef3;
    border-bottom: 2px solid #a23ef3;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: #1d1d1d;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 0;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}
